*{
  margin: 0;
  padding: 0;
}
body {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  
  background-size: 100%;
  background-repeat: no-repeat;

}
#navbar{
  margin: 0 auto;

}

ul {
  width: 100%;
}
.listLink{
  display: block;
  margin: 10px 0;
  border: solid 2px black;
  text-align: center;
  border-radius: 20px;
  background-color: transparent;
  color: black;
}
#suchleiste{
  background-color: transparent;
  border-radius: 500px;
  width: 200px;
  height: 25px;
  margin-top: 16px;
  border-color: black;
  padding-left: 5px;
}
#suchleiste:focus{
  width: 400px;
  outline: none;
  box-shadow: 0 0 2pt 1pt #FF9999;
}
#search{
  float: left;
  
}
.suche{
  vertical-align: middle;
}
li{
  list-style: none;
}
.button {
  float: left;
  width: 33%;
  margin: 0 1px;
}
.upload{
margin-top: 10px;

}
#uploadButton{
  margin-right: 4px;
  font-size: 22px;
  height: 25px;
  margin-top: 5px;
  width: 220px;
  float: right;
  display: block;
  border: solid 2px black;
  text-align: center;
  border-radius: 20px;
  background-color: transparent;
  color: black;
}
#uploadButton:active{
  outline: none;
}
#register{
  max-height: 5px;

}
#registerbutton{
  float:right;


}
.loginbutton{
  width: 60px;
  display: block;

  

  float: right;


}


a {
  text-decoration: none;
}


.navbarhead{
    margin: 0 auto;
}
