body {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  
  background-size: 100%;
  background-repeat: no-repeat;

}
#navbar{
  margin: 0 auto;

}
ul {
  width: 100%;
}
.listLink{
  display: block;
  margin: 6px 0;
  border: solid 2px black;
  text-align: center;
  border-radius: 20px;
  background-color: #DADAAA;
  color: black;
}
#suchleiste{
  background-color: #DADAAA;
  border-radius: 500px;
  width: 200px;
  margin-top: 16px;
  border-color: black;
}
#suchleiste:focus{
  width: 450px;
  outline: none;
  box-shadow: 0 0 2pt 1pt #FF9999;
}
#search{
  float: left;
  width: 90%;
}
.suche{
  vertical-align: middle;
}
li{
  list-style: none;
}
.button {
  float: left;
  width: 33%;
  margin: 0 1px;
}
#uploadButton{
  border-radius: 500px;
  float: right;
  margin-top: 16px;
  height: 25px;
  width: 250px;
  background-color: #DADAAA;
  font-style: oblique;
  color: #002200;
  border-color: #000079;
  font-size: 18px;
  font: helvetica;
}
#uploadButton:focus{
  outline: none;
}
#uploadButton:active{
  box-shadow: 0 0 2pt 1pt lightblue;
}
#register{
  max-height: 5px;

}
#registerbutton{
  float:right;


}
.loginbutton{
  max-width: 140px;
  display: block;

  margin: 0 5px;

  float: right;


}


a {
  text-decoration: none;
}


.navbarhead{
    margin: 0 auto;
}
